.ma{
	width: 100%;
}
#tab2{
	position: absolute;
	width: 40%;
	margin-left: 200px;
	margin-top:300px;


}
.context{
	float: right;
	width: 30%;
	margin-top:300px;
}
.container{
	float: left;
	width: 30%;
}
